@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Raleway:300,400,700');
.box-shadow {
  box-shadow: 0px 0px 16px 0 rgba(57, 60, 84, 0.1);
}
.heading-font {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}
.body-font {
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
}
.border-radius {
  border-radius: 5px;
}
.navbar {
  min-height: 0;
}
.navbar-default {
  background-color: white;
  border-color: rgba(224, 69, 56, 0.2);
  border: none;
  height: 25px;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  border-bottom: 5px solid #e04538;
  padding-bottom: 10px;
}
.navbar-default .navbar-nav > li > a.active {
  border-bottom: 5px solid #e04538;
  padding-bottom: 10px;
}
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
    border: none;
  }
}
.navbar-toggle {
  border-color: #e04538 !important;
  color: #e04538;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.navbar-toggle .icon-bar {
  background-color: #fafafa;
}
.logo-menu {
  position: absolute;
  z-index: 9999;
  background-color: #e04538;
  height: 50px;
  width: 120px;
  border-radius: 0  0  2px  2px;
}
@media (min-width: 1000px) {
  .nav-small .logo-menu {
    height: 50px;
    width: 180px;
  }
}
.logo-menu img {
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 768px) {
  .logo-menu {
    height: 80px;
    width: 180px;
  }
  .logo-menu .nav-small {
    height: 50px;
    width: 180px;
  }
}
footer {
  margin-top: 50px;
  border-top: 1px solid #e04538;
  padding: 15px 0;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
header.header-obras {
  height: 320px !important;
  background-image: url('../../img/back-obras2.jpg');
}
header.header-obras-admin {
  height: 200px !important;
  background-image: url('../../img/back-obras2.jpg');
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 50px 15px 50px;
  width: 100%;
}
header .header-content h1 {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  color: white;
}
@media (min-width: 768px) {
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
    color: white;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*! Typebase.less v0.1.0 | MIT License */
.heading-font {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}
.body-font {
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #393c54;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: red;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
.alt {
  color: #e04538;
  font-weight: 300;
}
h1,
.h1 {
  font-size: 40px;
}
h2,
.h2 {
  font-size: 34px;
}
h3,
.h3 {
  font-size: 23px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 14px;
}
p {
  margin: 0 0 10px;
  color: #393c54;
  font-family: "Raleway", "Times New Roman", Times, serif;
  line-height: 28px;
}
.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}
a {
  color: #e04538;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #c62c1f;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
small,
.small {
  font-size: 87%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-body {
  width: 10000px;
}
.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-middle {
  vertical-align: middle;
}
.media-bottom {
  vertical-align: bottom;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/**
   * Owl Carousel v2.2.1
   * Copyright 2013-2017 David Deutsch
   * Licensed under  ()
   */
/*
   * 	Default theme - Owl Carousel CSS File
   */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-next,
.owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
.owl-prev {
  left: 10px;
}
.owl-next {
  right: 10px;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #c2b8b2;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #393c54;
}
.item {
  height: 400px;
}
.item img {
  border-radius: 3px;
  border-radius: 5px;
}
.progreso {
  position: relative;
}
.progreso .descripcion {
  font-size: 18px;
  color: rgba(43, 45, 66, 0.9);
}
.progreso .fecha {
  font-weight: 700;
  color: #393c54;
}
.timeline {
  overflow: hidden;
  height: 4px;
  margin: 10px auto;
  background-color: #c2b8b2;
}
.timeline-bar {
  float: left;
  width: 0%;
  height: 100%;
  line-height: 25px;
  color: gray;
  text-align: center;
  background-color: #393c54;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: rgba(57, 60, 84, 0.1);
  font-size: 16px;
  font-family: "Raleway", "Times New Roman", Times, serif;
}
.breadcrumb {
  font-size: 16px;
  padding: 0px 0px;
  margin-bottom: 2em;
  list-style: none;
  font-weight: 500;
}
.breadcrumb a {
  color: rgba(57, 60, 84, 0.6);
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb li + li:before {
  padding: 0 5px;
  color: rgba(57, 60, 84, 0.6);
  content: "/\00a0";
  font-weight: 700;
}
.breadcrumb li.active a {
  color: #e04538;
}
.box-linea {
  background-color: white;
  box-shadow: 0px 0px 16px 0 rgba(57, 60, 84, 0.1);
  padding: 50px 25px;
}
.ficha .detalle {
  padding: 25px 0;
}
#map_canvas {
  border-radius: 3px;
  border-radius: 5px;
}
.card-obra {
  position: relative;
  margin: 15px 0;
  box-sizing: border-box;
  background-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  border-radius: 5px;
}
.card-obra a:hover {
  text-decoration: none;
  color: gray;
}
.card-obra a > h4 {
  color: #393c54;
}
.card-obra:hover {
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.card-obra .back-img {
  height: 250px;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}
.card-obra .detalles {
  padding: 15px;
}
.card-obra .detalles h4 {
  font-size: 24px;
}
.card-obra .detalles .categoria {
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 700;
  color: rgba(57, 60, 84, 0.5);
}
.card-obra .detalles .categoria:hover {
  color: rgba(224, 69, 56, 0.8);
}
