<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="logo-menu">
        <a href="{{path_for('home')}}">
        <img src="{{base_url()}}/assets/img/logo-municipiodelobos_blanco.png" class="img-responsive" alt="Municipio de Lobos">
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Menu</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div class="logo-menu">
              <a href="index.php">
                <img src="assets/img/logo-municipiodelobos_blanco.png" class="img-responsive" alt="Municipio de Lobos">
              </a>
            </div>
        </div>
    </div> -->
</nav>

<header class="header-obras">
  <div class="header-content">
    <h1>Haciendo un Lobos mejor</h1>
  </div>
</header>
