@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
.icon-social-container{
  padding-top: 25px;
}
.icon-button{
  // width: 35px;
  padding: 12px 15px;
  // height: 35px;
  margin: 25px 10px;
  display: inline-block;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  .heading-font;
  text-decoration: none;
  color: #fff;
  &:hover{
    // color: white;

  }
}
.icon-min{
  padding: 15px 15px;
  border-radius: 5px;
  border: none !important;
  margin: 0px 10px;
  font-size: 21px;
  & i{
    margin: 0;
  }

}

.twitter  {
	color: #4099ff;
  border: 1px solid #4099ff;
  &:hover{
    color: white;
    background-color: #4099ff;
  }
}
.facebook  {
	color: #3B5998;
  border: 1px solid #3B5998;
  &:hover{
    color: white;
    background-color: #3B5998;
  }
}
.google-plus  {
	color: #db5a3c;
  border: 1px solid #db5a3c;
  &:hover{
    color: white;
    background-color: #db5a3c;
  }
}
//
/* Icons */

.icon-button i {
  margin-right: 10px;

}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: inherit;
}
