
// https://coolors.co/2a2d34-009ddc-e04538-6761a8-009b72

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  padding: 7px 21px;
  font-size: 16px;
  line-height: 1.43;
  .border-radius;
  user-select: none;
  & .btn-xl{
    padding: 9px 27px;
  }
}




.icon-social-container{
  padding-top: 25px;
}
.icon-button{
  padding: 6px 12px;
  margin: 25px 10px;
  display: inline-block;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  .heading-font;
  text-decoration: none;
  color: #fff;
  &:hover{
    // color: white;
  }
}

.icon-min{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none !important;
  margin: 0px 5px;
  font-size: 21px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
  & i{
    margin: 0;
  }

}

.twitter  {
	color: #4099ff;
  border: 1px solid #4099ff;
  &:hover{
    color: white;
    background-color: #4099ff;
  }
}
.facebook  {
	color: #3B5998;
  border: 1px solid #3B5998;
  &:hover{
    color: white;
    background-color: #3B5998;
  }
}
.google-plus  {
	color: #db5a3c;
  border: 1px solid #db5a3c;
  &:hover{
    color: white;
    background-color: #db5a3c;
  }
}
.youtube  {
	color: #cc181e;
  border: 1px solid #cc181e;
  &:hover{
    color: white;
    background-color: #cc181e;
  }
}
.email  {
	color: @gray-base;
  border: 1px solid @gray-base;
  &:hover{
    color: white;
    background-color: @gray-base;
  }
}
//
/* Icons */

.icon-button i {
  margin-right: 10px;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: inherit;
}
