@import "variables.less";

@import "mixins.less";
@import "nav.less";
@import "header.less";
@import "text.less";
@import "includes/media.less";
@import "includes/galeria.less";
@import "includes/progreso.less";
@import "includes/botones.less";


body{
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: @gray-bg;
  font-size: @font-size-base;
  font-family: @font-family-serif;
}


 // BreadCrumb  -
 .breadcrumb {
     font-size: 16px;
     padding: 0px 0px;
     margin-bottom: 2em;
     list-style: none;
     font-weight: 500;
     a{
       color: fade(@gray-base, 80%);
      //  text-transform: uppercase;
      //  .heading-font;
     }
     li{
       display: inline-block;
       & + li:before{
         padding: 0 5px;
         color: fade(@gray-base, 60%);
         content: "/\00a0";
         font-weight: 700;

       }
     }
     a:hover{
       color:@primario;
     }
     li .active a{
       color: fade(@gray-base, 80%);

     }
 }

 .box-linea{
   background-color: white;
  //  border-top: 1px solid rgba(57, 60, 84, 0.9);
  //  border-bottom: 1px solid rgba(57, 60, 84, 0.9);
  box-shadow: 0px 0px 16px 0 rgba(57, 60, 84, 0.1);
    // background-clip: padding-box;
   padding: 50px 25px;
 }

.ficha{
  // padding: 50px 15px;
  // height: 75vh;
  .detalle{
    padding: 20px 0;
    margin: 20px 0;
  }

}

#map_canvas{
  .border-radius;
}

//
// CARD
//
.card-obra{
  position: relative;
  margin: 15px 0;
  box-sizing: border-box;
  background-color: white;
  .transition-all;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  .border-radius;
  a:hover{
    text-decoration: none;
    color: gray;
  }
  a > h4{
    color: @gray-base;

  }
  &:hover{
    cursor: pointer;
    box-shadow: 0 0 16px rgba(0,0,0,.2);
    .transition-all;
  }

  .back-img{
    height: 250px;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
  }
  .detalles{
    padding: 15px;


    h4{
      // font-weight: 400;
      font-size: 24px;
    }
    .categoria{
      // position: absolute;
      // top: 0px;
      // left: -10px;
      // padding: 10px 24px;
      // background-color: @bg-light;
      // border-left: 3px solid @gray-base;
      // border-radius: 0 5px 5px 0;
      // box-shadow: 1px 1px 16px 0 black;
      text-transform: uppercase;
      margin-top: 10px;
      // .sans-serif-font;
      font-weight: 700;
      color: fade(@gray-base, 50%);
    }
    .categoria:hover{
      // background-color: fade(@primario, 80%);
      // color: white;
      color: fade(@primario, 80%);
    }
  }
}

#scroll-div{
  // overflow-y: auto;
  // height: 520px;
}
