@import "variables.less";

@import "mixins.less";
@import "nav.less";
@import "header.less";
@import "text.less";
@import "includes/media.less";
@import "includes/galeria.less";
@import "includes/progreso.less";
@import "includes/botones.less";

body{
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: @gray-bg;
  font-size: @font-size-base;
  font-family: @font-family-serif;
}


 // BreadCrumb  -
 .breadcrumb {
     font-size: 16px;
     padding: 0px 0px;
    //  margin-bottom: 2em;
     list-style: none;
     font-weight: 500;
     a{
       color: fade(@gray-base, 80%);
     }
     li{
       display: inline-block;
       & + li:before{
         padding: 0 5px;
         color: fade(@gray-base, 60%);
         content: "/\00a0";
         font-weight: 700;

       }
     }
     a:hover{
       color:@primario;
     }
     li .active a{
       color: fade(@gray-base, 80%);

     }
 }

 .box-linea{
   background-color: white;
   box-shadow: 0px 0px 16px 0 rgba(57, 60, 84, 0.1);
   padding: 50px 25px;

 }
 .box-linea-round{
   background-color: white;
   box-shadow: 0px 0px 16px 0 rgba(57, 60, 84, 0.1);
   padding: 30px 25px;
   .border-radius;
    box-sizing: border-box;
 }
.ficha{
  .detalle{
    padding: 20px 0;
    margin: 20px 0;
  }
  .img{
    background-position: center;
    background-size: cover;
    .border-radius;
    height: 450px;
  }

}

#map_canvas{
  .border-radius;
}

//
// CARD
//
.card-obra{
  position: relative;
  margin: 15px 0;
  box-sizing: border-box;
  background-color: white;
  .transition-all;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  .border-radius;
  a:hover{
    text-decoration: none;
    color: gray;
  }
  a > h4{
    color: @gray-base;

  }
  &:hover{
    cursor: pointer;
    box-shadow: 0 0 16px rgba(0,0,0,.2);
    .transition-all;
  }

  .back-img{
    height: 250px;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
  }
  .detalles{
    padding: 15px;
    h4{
      // font-weight: 400;
      font-size: 24px;
    }
    .categoria{
      text-transform: uppercase;
      margin-top: 10px;
      font-weight: 700;
      color: fade(@gray-base, 50%);
    }
    .categoria:hover{
      color: fade(@primario, 80%);
    }
  }
}



table {
  background-color: white;
}
caption {
  padding-top: 10px;
  padding-bottom: 10px;
  color: @gray-base;
  text-align: left;
}
th {
  text-align: left;
}


// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 15px;
        line-height: 1.4em;
        vertical-align: top;
        border-top: 1px solid @gray-lighter;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid @gray-light;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @gray-base;
  }

  // Nesting
  .table {
    // background-color: white;
  }
}
