
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Raleway:300,400,700');

@primario:   #e04538;
@bg-light:   #c2b8b2;
@gray-base:  #393c54;


@gray-darker:      lighten(@gray-base, 13.5%);
@gray-dark:        lighten(@gray-base, 20%);
@gray:             lighten(@gray-base, 33.5%);
@gray-light:       lighten(@gray-base, 46.7%);
@gray-lighter:     lighten(@gray-base, 75.5%);
@gray-bg:          fade(@gray-base, 10%);
