.box-shadow {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.drop-shadow {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.navbar {
  min-height: 0;
}
.navbar-default {
  background-color: white;
  border-color: rgba(223, 56, 55, 0.2);
  border: none;
  height: 25px;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  border-bottom: 5px solid #df3837;
  padding-bottom: 10px;
}
.navbar-default .navbar-nav > li > a.active {
  border-bottom: 5px solid #df3837;
  padding-bottom: 10px;
}
@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
    border: none;
  }
}
.navbar-toggle {
  border-color: #df3837 !important;
  color: #df3837;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.navbar-toggle .icon-bar {
  background-color: #fafafa;
}
.logo-menu {
  position: absolute;
  z-index: 9999;
  background-color: #df3837;
  height: 50px;
  width: 120px;
  border-radius: 0  0  2px  2px;
}
@media (min-width: 1000px) {
  .nav-small .logo-menu {
    height: 50px;
    width: 180px;
  }
}
.logo-menu img {
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 768px) {
  .logo-menu {
    height: 80px;
    width: 180px;
  }
  .logo-menu .nav-small {
    height: 50px;
    width: 180px;
  }
}
footer {
  border-top: 1px solid #df3837;
  padding: 15px 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #f0f1f3;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
header.header-obras {
  height: 320px !important;
  background-image: url('../img/back-obras2.jpg');
}
header.header-obras-admin {
  height: 200px !important;
  background-image: url('../img/back-obras2.jpg');
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 150px 15px 50px;
  width: 100%;
}
header .header-content h1 {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.top {
  position: absolute;
  width: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #df3837;
}
.top-left {
  width: 80px;
  border-bottom: 2px solid #df3837;
  margin-bottom: 25px;
}
.card-obra {
  position: relative;
  margin: 15px 0;
  box-sizing: border-box;
  background-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}
.card-obra a:hover {
  text-decoration: none;
  color: #df3837;
}
.card-obra a > h4 {
  color: #2C2F36;
}
.card-obra:hover {
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.card-obra:hover a > h4 {
  color: #df3837;
  text-decoration: none;
}
.card-obra .loading {
  position: absolute;
  background-color: red;
}
.card-obra .back-img {
  height: 220px;
  position: relative;
  background-position: center;
  background-size: cover;
}
.card-obra .detalles {
  padding: 15px;
}
.card-obra .detalles h4 {
  font-weight: 400;
}
.card-obra .detalles .categoria {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px 14px;
  background-color: white;
  border-left: 3px solid #df3837;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 600;
  font-size: .8em;
  color: #df3837;
}
.card-obra .detalles .categoria:hover {
  background-color: rgba(223, 56, 55, 0.8);
  color: white;
}
.ficha {
  margin-top: 25px;
}
.ficha .detalle {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 12px;
  display: inline-block;
  border-bottom: 1px solid #2C2F36;
}
.redes {
  position: absolute;
  bootom: 0;
}
.bk-light {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 25px 0;
  margin: 35px 0;
  border-top: 1px solid rgba(44, 47, 54, 0.1);
  border-bottom: 2px solid rgba(44, 47, 54, 0.1);
}
.bk-light .col-md-12 {
  margin-bottom: 20px;
}
.newsletter {
  background: rgba(44, 47, 54, 0.1);
  padding: 25px 0;
  margin-top: 90px;
}
